<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>UserManager</servlet-name>
		<servlet-class>org.odk.tasker.UserManagerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadManager</servlet-name>
		<servlet-class>org.odk.tasker.UploadManagerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReviewManager</servlet-name>
		<servlet-class>org.odk.tasker.ReviewManagerServlet</servlet-class>
	</servlet>
    <servlet>
  		<servlet-name>register</servlet-name>
    	<servlet-class>org.odk.tasker.PhoneRegisterServlet</servlet-class>
  	</servlet>
    <servlet>
  	    <servlet-name>tasklist</servlet-name>
        <servlet-class>org.odk.tasker.TaskSychronizerServlet</servlet-class>
    </servlet>
    <servlet>
  		<servlet-name>taskUpdate</servlet-name>
    	<servlet-class>org.odk.tasker.TaskSychronizerServlet</servlet-class>
  	</servlet>

	<servlet-mapping>
		<servlet-name>UserManager</servlet-name>
		<url-pattern>/usermanager</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadManager</servlet-name>
		<url-pattern>/uploadmanager</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReviewManager</servlet-name>
		<url-pattern>/reviewmanager</url-pattern>
	</servlet-mapping>
  	<servlet-mapping>
    	<servlet-name>tasklist</servlet-name>
    	<url-pattern>/tasklist</url-pattern>
  	</servlet-mapping>
 	<servlet-mapping>
    	<servlet-name>register</servlet-name>
    	<url-pattern>/register</url-pattern>
  	</servlet-mapping>
    <servlet-mapping>
    	<servlet-name>taskUpdate</servlet-name>
    	<url-pattern>/taskUpdate</url-pattern>
  	</servlet-mapping>
 
 
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>